<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title></title>
  <meta name="keywords" content="">
  <meta name="description" content="">

  <!--Place favicon.ico in the root directory -->
</head>
<body class="">
<!-- bg -->
<img class="bg" src="<%= require('./images/bg.jpg') %>" alt="">
<!-- iframe -->
<iframe class="iframe" src="https://720yun.com/t/yzg6wd5zodi38razt8"></iframe>
<!-- header -->
<img class="header" src="<%= require('./images/header.png') %>" alt="">
<!-- logo -->
<img class="logo" src="<%= require('./images/logo.png') %>" alt="">
<!-- search -->
<div class="search">
  <div class="search-body">
    <div class="search-body-group">
      <button class="search-btn">
        <img src="<%= require('./images/search-icon.png') %>" alt="">
      </button>
      <input class="search-input" type="text" placeholder="请输入楼盘名或关键字查询">
      <a class="search-more" href="#">
        查看更多项目...
      </a>
    </div>
    <div class="search-body-group">
      <div class="search-recommend">
        <a href="#">海信 • 湖岛世家二期</a>
        <a href="#">海信 • 灵山湾</a>
        <a href="#">海信 • 正阳中心</a>
        <a href="#">海信 • 学府里</a>
      </div>
    </div>
  </div>
  <div class="search-link">
    <img class="search-link-icon" src="<%= require('./images/search-link-icon.png') %>" alt="">
    <p class="search-link-text">地图选房</p>
  </div>
</div>
</body>
</html>
